.photo-box {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    overflow: hidden;
    border: 4px solid #ffffff;
    margin-bottom: 15px;
}

.photo-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
body {
    margin: 0;
    font-family: "Times New Roman", serif;
    background-color: #f4f4f4;
}

.cv-container {
    width: 900px;
    margin: 20px auto;
    display: flex;
    background: white;
}

/* LEFT */
.left {
    width: 35%;
    background: #0b2c5d;
    color: white;
    padding: 30px;
}

.photo {
    width: 160px;
    height: 160px;
    border: 3px solid white;
    border-radius: 50%;
    margin: auto;
    text-align: center;
    line-height: 160px;
    margin-bottom: 20px;
}

.left h1 {
    text-align: center;
    margin-bottom: 5px;
}

.left h3 {
    text-align: center;
    font-weight: normal;
    font-size: 15px;
}

.left .section {
    margin-top: 25px;
}

.left h2 {
    border-bottom: 1px solid white;
    padding-bottom: 5px;
}

/* RIGHT */
.right {
    width: 65%;
    padding: 30px;
}

.right .section {
    margin-bottom: 25px;
}

.right h2 {
    color: #0b2c5d;
    border-bottom: 2px solid #0b2c5d;
    padding-bottom: 5px;
}

.right p, .right li {
    font-size: 15px;
    line-height: 1.6;
}